  html, body {
      width:100%;
      margin:0;
      padding:0;
      overflow: auto;
      font-family: sans-serif;
    }

  .disabled {
    cursor: not-allowed !important;
  }


  .ui.menu.flow {
    padding-top:0;margin-top:0;overflow:auto;
  }

  
    .top-toolbar {
      border-top:solid 1px black;
      border-bottom:solid 1px black;
      padding:
      5px;
		}
		.requests-outline {
      overflow:auto;
      padding: 2px;
      float:left;

		}
		.requests-details {
      padding: 2px;
      float:left;
		}
		.requests-tree-header {
      font-weight:bold;
      font-size:18px;
      min-height:30px;
      margin-bottom:8px;
		}

		@media only screen and (max-width: 700px) {
      .requests-details {
        width:100%;
      }
      .requests-outline {
        width:100%;
      }
		}
		@media only screen and (min-width: 699px) {
      .requests-details {
        width:60%;
      }
      .requests-outline {
       width:40%;
      }
		}

		.clearboth {
		clear:both;
    }
    
    .ui.button.context {
      width:280px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
    }

/* CONTEXT MENU */


.context-menu-icon-add:before {
  content: "\EA01";
}

.context-menu-icon-copy:before {
  content: "\EA02";
}

.context-menu-icon-cut:before {
  content: "\EA03";
}

.context-menu-icon-delete:before {
  content: "\EA04";
}

.context-menu-icon-edit:before {
  content: "\EA05";
}

.context-menu-icon-loading:before {
  content: "\EA06";
}

.context-menu-icon-paste:before {
  content: "\EA07";
}

.context-menu-icon-quit:before {
  content: "\EA08";
}

.context-menu-icon::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 2em; 
  font-family: "context-menu-icons";
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: #2980b9;
  text-align: center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.context-menu-icon.context-menu-hover:before {
  color: #fff;
}

.context-menu-icon.context-menu-disabled::before {
  color: #bbb;
}

.context-menu-icon.context-menu-icon-loading:before {
  -webkit-animation: cm-spin 2s infinite;
       -o-animation: cm-spin 2s infinite;
          animation: cm-spin 2s infinite;
}

.context-menu-icon.context-menu-icon--fa {
  display: list-item;
  font-family: inherit;
}
.context-menu-icon.context-menu-icon--fa::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 2em; 
  font-family: FontAwesome;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: #2980b9;
  text-align: center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.context-menu-icon.context-menu-icon--fa.context-menu-hover:before {
  color: #fff;
}
.context-menu-icon.context-menu-icon--fa.context-menu-disabled::before {
  color: #bbb;
}

.context-menu-list {
  position: absolute; 
  display: inline-block;
  min-width: 13em;
  max-width: 26em;
  padding: .25em 0;
  margin: .3em;
  font-family: inherit;
  font-size: inherit;
  list-style-type: none;
  background: #fff;
  border: 1px solid #bebebe;
  border-radius: .2em;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.context-menu-item {
  position: relative;
  padding: .2em 2em;
  color: #2f2f2f;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; 
  background-color: #fff;
}

.context-menu-separator {
  padding: 0; 
  margin: .35em 0;
  border-bottom: 1px solid #e6e6e6;
}

.context-menu-item > label > input,
.context-menu-item > label > textarea {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.context-menu-item.context-menu-hover {
  color: #fff;
  cursor: pointer; 
  background-color: #fff;
}

.context-menu-item.context-menu-disabled {
  color: #bbb;
  cursor: default; 
  background-color: #fff;
}

.context-menu-input.context-menu-hover {
  color: #2f2f2f; 
  cursor: default;
}

/* MENU END */


  .scroll-site::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 3px rgba(0,1,0,0.3);
    background-color: #F5F5F5;
  }

  .scroll-site::-webkit-scrollbar
  {
    width: 6px;
    height:8px;
    background-color: #F5F5F5;
  }

  .scroll-site::-webkit-scrollbar-thumb
  {
    background-color: #303030;
  }

  .site-dt-resp-col{
  
     width:10px;
  
  }

  .single-line-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }
  .bolder {
    font-weight: bolder;
  }
  .small-card {
    width:250px !important;
  }
  .mini-card {
    width:150px !important;
  }
  


  
  .site-header {
    color: white!important;
    font-weight: stong;
    font-size:18px;
  }
  
  
  .ui.menu .item.plain {
    position: inherit;
  }
  .ui.menu .item.plain {
    position: inherit;
  }
  .nopad {
    padding:0 !important;
    margin:0 !important;
  }
  .menu.middle {
    margin-top:0 !important;
    margin-bottom:0 !important;
  }
  .noshadow {
    box-shadow: none !important;
    position: inherit !important;    
  }

    
    .no-top {
      margin-top:0 !important;
    }
    .no-bottom {
      margin-bottom:0 !important; 
    }

    .ui.labeled.button>.label {
      padding-top:10px;
      display:block !important;
    }
    
    .vakata-context { z-index:10052 !important; }
   
    .hidden {
      display: none;
    }

    .hidden.menu {
      display: none;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }



    @media only screen and (min-width: 699px) {
      .mobileonly {
        display: none !important;
      }
      .mobilehidden {
        display: '' !important;
      }
    }

    @media only screen and (max-width: 700px) {
      .nomobile {
        display: none !important;
      }
      .mobilehidden {
        display: none !important;
      }
    }


    .ui.menu .item {
      font-size:14px;
    }
    .ui.sidebar.menu .item {
      font-size:16px;
    }
    .ui.visible.uncover.sidebar {
      z-index: 3;
    }

    /* Semantic UI Overrides  */
    .ui.modal>.content {
      width:auto !important;
    }

    .ui.segment, .ui.segments .segment {
      font-size: 1.0rem;
    }