  html, body {
      width:100%;
      margin:0;
      padding:0;
      overflow: auto;
      font-family: sans-serif;
    }

  .disabled {
    cursor: not-allowed !important;
  }


  .ui.menu.flow {
    padding-top:0;margin-top:0;overflow:auto;
  }

  
    .top-toolbar {
      border-top:solid 1px black;
      border-bottom:solid 1px black;
      padding:
      5px;
		}
		.requests-outline {
      overflow:auto;
      padding: 2px;
      float:left;

		}
		.requests-details {
      padding: 2px;
      float:left;
		}
		.requests-tree-header {
      font-weight:bold;
      font-size:18px;
      min-height:30px;
      margin-bottom:8px;
		}

		@media only screen and (max-width: 700px) {
      .requests-details {
        width:100%;
      }
      .requests-outline {
        width:100%;
      }
		}
		@media only screen and (min-width: 699px) {
      .requests-details {
        width:60%;
      }
      .requests-outline {
       width:40%;
      }
		}

		.clearboth {
		clear:both;
    }
    







  .scroll-site::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 3px rgba(0,1,0,0.3);
    background-color: #F5F5F5;
  }

  .scroll-site::-webkit-scrollbar
  {
    width: 6px;
    height:8px;
    background-color: #F5F5F5;
  }

  .scroll-site::-webkit-scrollbar-thumb
  {
    background-color: #303030;
  }

  .site-dt-resp-col{
  
     width:10px;
  
  }

  .site-tab-label.active {
    rem---border:solid 1px #333333 !important;
  }

  .site-tab-link {
    margin-right:4px !important;
    z-index:1;
  }
  .site-tab-link-body {
    z-index:1;
    min-width:140px;
    max-width:140px;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    text-align: left !important;
    padding-left:7px !important;
    margin-left:0;
    font-weight:bolder !important;
  }
  .single-line-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }
  .bolder {
    font-weight: bolder;
  }
  .small-card {
    width:250px !important;
  }
  .mini-card {
    width:150px !important;
  }
  
  .primary > .site-tab-link-body {
    border:solid 2px black !important;
  }
  .primary > .site-tab-link {
    border:solid 1px gray !important;
  }



  .site-tab-label {
    height:35px;    
    max-width:180px;
    min-width:180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    border-left:dashed .1em #cccccc !important;
    }
    .site-tab-close-btn {
      border:dotted .01em white !important;
    }

    .site-tab-close {
      box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset !important;
      border:solid .01em #eeeeee !important;
      border-left:solid 0px #cccccc !important;
      height:35px !important;      
    }
    .site-base-label-prefix {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      height:35px;
    }
    .site-tab-label-prefix {
    
      max-width:80px;
      min-width:80px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      height:35px;
    }
    .site-tab-home-prefix {
      max-width:180px;
      min-width:180px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      border-right:solid 0px !important;
      height:35px;
    }

  
  .site-header {
    color: white!important;
    font-weight: stong;
    font-size:18px;
  }
  
  .site-header-active {
    background-color: #fff!important;
    color: #333333!important;
  
    border:solid 0px;
    padding:5px;
    margin:0px;
    padding-left: 0px;
    
  }
  .site-header-prefix {
    background-color:white !important;
    color: #333333 !important;
    border-color: #333333!important;
    rem-border-right:dashed 1px;
    padding:5px;
    font-weight:stronger;
    height:40px;
  }
  .site-header-content {
    padding:6px;
    font-weight:bolder;
    height:40px;
  }
  .ui.menu .item.plain {
    position: inherit;
  }
  .ui.menu .item.plain {
    position: inherit;
  }
  .nopad {
    padding:0 !important;
    margin:0 !important;
  }
  .menu.middle {
    margin-top:0 !important;
    margin-bottom:0 !important;
  }
  .noshadow {
    box-shadow: none !important;
    position: inherit !important;    
  }
/*
  */
    
    .no-top {
      margin-top:0 !important;
    }
    .no-bottom {
      margin-bottom:0 !important; 
    }

    .ui.labeled.button>.label {
      padding-top:10px;
      display:block !important;
    }
    
    .vakata-context { z-index:10052 !important; }
   
    .hidden {
      display: none;
    }

    .hidden.menu {
      display: none;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }



    @media only screen and (min-width: 699px) {
      .mobileonly {
        display: none !important;
      }
      .mobilehidden {
        display: '' !important;
      }
    }

    @media only screen and (max-width: 700px) {
      .nomobile {
        display: none !important;
      }
      .mobilehidden {
        display: none !important;
      }
    }


    .ui.menu .item {
      font-size:14px;
    }
    .ui.sidebar.menu .item {
      font-size:16px;
    }
    .ui.visible.uncover.sidebar {
      z-index: 3;
    }

    /* Semantic UI Overrides  */
    .ui.modal>.content {
      width:auto !important;
    }

    .ui.segment, .ui.segments .segment {
      font-size: 1.2rem;
    }