/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.

html {
    font-family: sans-serif;
}
body {
margin: 0;
}


.app {
   
}



.input-field {
    width:100%;
    color:darkblue;
    font-size:18px;
}


button,
input,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button,
html input[type="button"],
{
  -webkit-appearance: button;
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  background-color: #337ab7;
  border: solid 1px black;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  min-height:50px;
  margin: 0;
 }

.btn:hover,
.btn:focus,
.btn.focus {
  border: solid 1px yellow;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.dis
{
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

.nb {
  background-color: #2e6da4;
  border-color: #080808;
  padding:1px 5px 0px 5px;
  border-bottom:solid 1px #111;
}
.nb .navbar-nav>li>a {
  color: #ffffff;
}

.site-page-title {
	color:#eeeeee; font-size:20px; background-color:#337ab7;background-image:none;border:1px solid transparent;margin:2px;padding-left:5px;
}
.btn-indicating {
	color:#ffffff; background-color:#ffff00 !important;
}
.btn-success {
	color:#ffffff; background-color:#00ff00 !important;
}
.btn-failed {
	color:#ffffff; background-color:#ff0000 !important; 
}
.loading-text {
	color:#ffff00;
}
.hid {
	display:'none';
}


.btn.tb {
	font-size:14px;
	padding:10px;
	margin:1px 1px 7px 1px;
	min-height:20px;
}
.btn.wb{
	color:black;background-color:#eeeeee
}
.btn.fw{
	width: 100%;
	display:block;		
}
.btn.c10 {
	min-width:63px;
}
.btn.c6 {
	min-width:105px;
}
.btn.c2 {
  min-width:315px;
}
.navbar-nav a {
	font-size:20px;
}
.list-group {
	font-size:20px;
}	

#oa {
	padding:83px 5px 5px 5px;
	background-color:#333;
}
#sti {
	color:white;
	font-size:18px;
	padding:4px;
	cursor: pointer;
	width:100%;
}



.dlg {
    background-color: #222222;
    color: #FFFFFF;
    font-size: 16px;
    position: absolute;
	top:0;
	left:0;
    width: 100%;
    height: 100%;
	z-index:1000;
	margin:0;
}
#cpk {
    cursor: crosshair;
    float: left;
    margin: 10px;
    border: 0;
}
.ctls {
    float: left;
    margin: 10px;
	width:230px;
}
.ctls > div {
    border: 1px solid #2F2F2F;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px;
}
.ctls label {
    float: left;
}
.ctls > div input, .ctls > div span {
    background-color: #121212;
    border: 1px solid #2F2F2F;
    color: #DDDDDD;
    float: right;
    font-size: 14px;
    height: 20px;
    margin-left: 6px;
    width: 150px;
}

*/
